
@import url('https://fonts.googleapis.com/css2?family=Emilys+Candy&display=swap');

:root {
  --color-lightest: #FEF9E1; 
  --color-light: #E5D0AC;    
  --color-red: #ba0c0c;     
  --color-dark-red: #c70c0c;  
}


body {
  margin: 0;
}
*{
    font-family: 'Emilys Candy', cursive !important;
    text-shadow: 1px 1px 3px rgba(186, 12, 12, 0.6) !important;


}
body, html {
  font-family: 'Emilys Candy', cursive !important;
}






